<div class="sidebar">

    <div class="logo">

        <h2>SyntazQuiz</h2>

        <span>ADMIN PANEL</span>

    </div>

    <nav>

        <a routerLink="/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">

            📊 Dashboard

        </a>

        <a routerLink="/admin/subjects" routerLinkActive="active">

            📚 Subjects

        </a>

        <a routerLink="/admin/questions" routerLinkActive="active">

            ❓ Questions

        </a>

        <a routerLink="/admin/users" routerLinkActive="active">

            👥 Users

        </a>

        <a routerLink="/admin/results" routerLinkActive="active">

            📄 Results

        </a>

    </nav>

</div>