.login-page {

    display: flex;

    height: 100vh;

}

.login-left {

    width: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    background: linear-gradient(135deg, #2563eb, #3b82f6);

    color: white;

    padding: 60px;

}

.brand h1 {

    font-size: 60px;

    margin-bottom: 20px;

}

.brand p {

    font-size: 22px;

    line-height: 1.6;

}

.login-right {

    width: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #eef3ff;

}

.login-card {

    width: 420px;

    background: white;

    padding: 40px;

    border-radius: 18px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, .15);

}

.login-card h2 {

    margin-bottom: 10px;

    font-size: 32px;

}

.login-card p {

    margin-bottom: 30px;

    color: #666;

}

.form-group {

    margin-bottom: 22px;

}

label {

    display: block;

    margin-bottom: 8px;

    font-weight: 600;

}

input {

    width: 100%;

    padding: 15px;

    border: 1px solid #ddd;

    border-radius: 10px;

    font-size: 15px;

}

input:focus {

    border-color: #2563eb;

    outline: none;

}

button {

    width: 100%;

    padding: 15px;

    background: #2563eb;

    border: none;

    border-radius: 10px;

    color: white;

    font-size: 17px;

    font-weight: bold;

    margin-top: 20px;

    cursor: pointer;

    transition: .3s;

}

button:hover {

    background: #1d4ed8;

}

button:disabled {

    opacity: .6;

    cursor: not-allowed;

}

.error {

    background: #ffe5e5;

    color: #c62828;

    padding: 12px;

    border-radius: 8px;

    margin-bottom: 20px;

}

.remember {

    margin-top: 10px;

}

.register {

    margin-top: 30px;

    text-align: center;

}

.register a {

    color: #2563eb;

    font-weight: bold;

}

@media(max-width:900px) {

    .login-left {

        display: none;

    }

    .login-right {

        width: 100%;

    }

    .login-card {

        width: 90%;

    }

}

.validation {

    color: #dc2626;

    display: block;

    margin-top: 8px;

    font-size: 13px;

}

.remember-row {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-top: 15px;

    margin-bottom: 20px;

}

.remember-row label {

    display: flex;

    align-items: center;

    gap: 8px;

    font-weight: 500;

}

.remember-row input {

    width: auto;

}

.remember-row a {

    color: #2563eb;

    font-size: 14px;

}

.remember-row a:hover {

    text-decoration: underline;

}

.divider {

    display: flex;

    align-items: center;

    justify-content: center;

    margin: 20px 0;

    color: #888888;

}

.google-button {

    display: flex;

    justify-content: center;

    margin-top: 20px;

}