<div class="sidebar">

    <div class="logo">

        <h2>SyntaxQuiz</h2>

    </div>

    <ul>

        <li routerLink="/dashboard" routerLinkActive="active">

            🏠 Dashboard

        </li>

        <li routerLink="/subjects/" routerLinkActive="active">

            📚 Subjects

        </li>

        <li routerLink="/history" routerLinkActive="active">

            📝 Quiz History

        </li>
        <li routerLink="/leaderboard" routerLinkActive="active">

            🏆 Leaderboard

        </li>

        <!-- <li routerLink="/result" routerLinkActive="active">

            📊 Results

        </li> -->

        <li routerLink="/favorites" routerLinkActive="active">

            ❤️ Favorites

        </li>


        <li routerLink="/profile" routerLinkActive="active">

            👤 Profile

        </li>

        <li routerLink="/settings" routerLinkActive="active">

            ⚙️ Settings

        </li>

    </ul>

    <button (click)="logout()">

        🚪 Logout

    </button>

</div>